html{
    background-color: #07111c;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3em;
}

body{
    margin: 0;
    padding: 0;
}

.header{
   padding: 20px;
   background-color: #131313;
   border-bottom: 2px solid #0c2461;
   display: flex;
}

header.header h1, header.header h3{ 
    margin: 10px 0; 
}

h1{
    font-size: 2.5em;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name h1, .name h3, .name h5{
    margin: 0;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
}

.hr3_li{
    text-align: right;
    justify-content: center;
    text-align: left;
}

.hr3_li:hover{
    transform: scale(1.1);
}



.sections{ 
    padding: 20px;
}

.projects, .certificates{ 
    margin-bottom: 40px
}

.projects h4, .certificates h4{
    text-align: center; 
    font-size: 2em; 
    margin-bottom: 20px;
}

.ul1, .ul2{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.ul1 li{
    padding: 20px; border-radius: 10px;
    max-width: 500px;
    text-align: center; 
}

.ul2 li{
    background: #1e272e;
    padding: 20px; border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center; 
}

.ul1 li img, .ul2 li img{
    width: 100%;
    height: auto; 
    margin-top: 10px; 
    border-radius: 5px;
}

.ul2 li:hover{
    background-color: #161a1d;
}

.ul1 li:hover{
    /* transform: scale(1.2); */
    background-color: #161a1d;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header img{
    max-width: 1.2em;
}

@media (max-width: 768px){
    .header {
        padding: 10px;
        flex-direction: column; /* Stack items vertically on mobile */
        align-items: center; /* Center items on mobile */ 
    } 
    .name, .contact { 
        align-items: center; 
        text-align: center; 
    } 
        
    .hr3_li { 
        justify-content: center; 
        text-align: center; 
    } 
    .ul1, .ul2 { 
        flex-direction: column; /* Stack items vertically on mobile */ 
        gap: 10px; 
    } 
    .ul1 li, .ul2 li { 
        width: 100%; 
        max-width: none; 
        margin-bottom: 20px; 
    } 
    .hr2_li.sp { 
        position: relative; 
        margin: 20px auto; 
    } 
    .header img {
        max-width: 1.5em; 
    } 
}